html {
font-family: "Spline Sans Mono", Pretendard, Roboto Sans Mono, Cascadia, "Cascadia Code", sans-serif;
font-size: 1.3rem;
}

.hangul {
font-family:Pretendard,serif,"Times New Roman", Helvetica, Arial, sans-serif,"Spline Sans Mono";
}

.sub {
font-size:0.8rem;
line-height:0;
}

.sidebar {
position: fixed;
top: 0;
left: 0;
bottom: 0;
z-index: 1000;
padding: 20px;
overflow-y: auto;
color: #343a40;
width: 300px;
}

.blog-post-datetime {
font-size:0.8rem;
font-weight:200;
opacity:0.8;
}

.main-content {
max-width:900px;
margin-left: 300px;
padding: 20px;
margin-right:auto;
}

.blog-post img {
max-width: 100%;
height: auto;
border-radius: 24px;
}

.blog-post ul{
list-style-type:none;
}

.custom-warning-box {
background-color: #ef4026;
margin:0 0 1.0rem 0;
font-size:0.8rem;
font-weight:200;
}

.custom-warning-box ol{
margin:0;
}

.custom-info-box {
background-color: blue;
margin:0 0 1.0rem 0;
font-size:0.8rem;
font-weight:200;
}

.box-heading {
font-size:1.0rem;
font-weight:200;
}

.card-body h5 {
font-size:1.0rem; line-height:0.8rem; margin:0 0 0.2rem 0;
}
.card-body p {
font-size:0.8rem; line-height:0.8rem; margin:0 0 0 0.4rem;
}
.fixed-ratio-card .card-img-top {
aspect-ratio: 2/0.8;
object-fit: cover;
object-position:top left;
width:100%;
}

.figure .img-fluid {
aspect-ratio: 3/2;
object-fit: cover;
object-position:top left;
width: 100%;
}

@media (max-width: 767.98px) {
.sidebar {
position: static;
width: 100%;
height: auto;
}

.main-content {
max-width:900px;
margin-left: 0;
padding: 20px;
margin-left:auto;
margin-right:auto;
}
}
